{% extends "_layouts/auth.njk" %}

{% block body  %}
<form action="/signin" method="post" >

    <img src="/images/logo.svg" heighht="42" />

    <input type="email" name="email" placeholder="Seu e-mail">
    <input type="password" name="password" placeholder="Senha Secreta">

    <button type="submit">Entrar</Button>

    <a href="/signup">Criar conta grátis</a>
  </form>

{% endblock %}
